:root {
  --base-color: #1f1f24;
  --fade-animation: 2s ease fadeIn;
  --rails-svg-width: clamp(15rem, 50%, 18rem);
  --line-animation-delay: 0.5s;
  --svg-width: clamp(9rem, 40%, 10rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: raleway, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--base-color);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  padding: 0.75rem;
  color: white;
}

a:hover {
  color:black;
  background-color: gray;
}

.header-link {
  font-size: 1.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.main div {
  font-size: 1.5rem;
}

.main-top-container {
  text-align: center;
}

.main-1 {
  margin-top: 5rem;
  animation: var(--fade-animation);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.top-1 {
  animation: var(--fade-animation);
  animation-delay: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.top-2 {
  animation: var(--fade-animation);
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
100% {
    opacity: 1;
 }
}

@keyframes flyInTop {
  0% {
    translate: 0 -100vh;
  }
  100% {
    translate: 0;
  }
}

@keyframes flyInRight {
  0% {
    translate: 100vw;
  }
  100% {
    translate: 0;
  }
}

@keyframes flyInLeft {
  0% {
    translate: -100vw;
  }
  100% {
    translate: 0;
  }
}

.experience-container {
  display: grid;
  gap: 2rem;
  margin-top: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 15rem;
  animation: var(--fade-animation);
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.experience .images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}


.experience a {
  padding: 0;
}

.experience a:hover {
  background-color: inherit;
}

.experience-links {
  position: absolute;
  bottom: 0px;
}

.experience-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  border-radius: 10%;
}

.experience-links a:hover {
  background-color: white;
}

.svg-image {
  width: var(--svg-width);
  padding: 0 1rem 0 1rem;
}

.rails-svg {
  width: var(--rails-svg-width);
  position: relative;
  top: -2rem;
}

.react-svg {
  width: var(--svg-width);
  position: relative;
  top: 1rem;
}

.ruby-svg {
  translate: 0 0.70rem;
}

.knight-svg {
  width: clamp(5rem, 50%, 6rem);
  background-color: gray;
  border-radius: 10%;
}

.knight-svg:hover {
  background-color: white;
}

.header {
  background-color: black;
  height: 5vh;
  display: flex;
  align-items: center;
}

.header-nav {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  background-color: black;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
  margin-top: 5rem;
}

.contact-container .contact-body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: var(--fade-animation);
}

.contact-body a {
  font-size: 2rem;
}

.gmail-logo {
  width: 8rem;
}

.contact-email, .contact-github {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-email {
  margin-bottom: 5rem;
}

.about-body {
  height: 70vh;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-line {
  margin: 1rem;
}

.about-body-top {
  animation: var(--line-animation-delay) ease flyInTop
}

.about-line-container .line-1 {
  animation: var(--line-animation-delay) ease flyInLeft;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.about-line-container .line-2 {
  animation: var(--line-animation-delay) ease flyInRight;
  animation-delay: 0.75s;
  animation-fill-mode: backwards;
}

.about-line-container .line-3 {
  animation: var(--line-animation-delay) ease flyInLeft;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.about-line-container .line-4 {
  animation: var(--line-animation-delay) ease flyInRight;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}